<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_company.name %>
</p>

<%= link_to 'Edit', edit_type_company_path(@type_company) %> |
<%= link_to 'Back', type_companies_path %>
