<form id="formFiltro">
	<!--<div class="field">
	<select name="operadora" class="form-control">
		<option value="" selected></option>
		<option value="Vivo">Vivo</option>
		<option value="Claro">Claro</option>
	</select>
	</div>-->
</form>
<style type="text/css">
	.form-control{
		width: 200px !important;
	}
</style>